about {
    display: block;;
}

about-section {
    padding: 80px 132px;
    width: 1440px;
    height: 790px;
}
about-us {
    width: 174px;
    height: 44px;
}

about-phrase {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--black);
}


