.about-us {
    flex: 1;
    position: relative;
    line-height: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
  }
  
  .welcome-to-our {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.04em;
    line-height: 62px;
    font-weight: 600;
    font-family: inherit;
  }
  
  .text {
    width: 174px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .at-our-premium,
  .welcome-to-our1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
  }
  .welcome-to-our1 {
    flex: 1;
    min-width: 285px;
  }
  .at-our-premium {
    width: 380px;
    flex-shrink: 0;
  }
  .text1 {
    width: 859px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .gif-icon {
    align-self: stretch;
    height: 500px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .about-us1,
  .framewithinfo,
  .video {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .video {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-21xl);
    min-width: 580px;
    font-size: var(--main-text-size);
    color: var(--black);
  }
  .about-us1,
  .framewithinfo {
    flex-direction: row;
    box-sizing: border-box;
  }
  .about-us1 {
    flex: 1;
    flex-wrap: wrap;
    padding: var(--padding-61xl) var(--padding-113xl);
    gap: var(--gap-91xl);
  }
  .framewithinfo {
    align-self: stretch;
    padding: 0 0 var(--padding-61xl);
    text-align: left;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
    font-family: var(--text);
  }

 .gif-icon {
    align-self: stretch;
    height: 500px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
 }
  