 /* Styles for screens larger than 1023px (desktop) */
.framewithinfo {
  padding: 6% 10%;
}
  .h1 {
    font-size: 40px !important;
  }
  
  .text {
    width: 25%;
  }
  
  .at-our-premium,
  .welcome-to-our1 {
    letter-spacing: -0.02em;
    line-height: 18px;
    font-weight: 300;
  }

  .welcome-to-our1 {
    width: 45% !important;
  }

  .at-our-premium {
    width: 45% !important;
  }

  .text1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3%;
    width: 100%;
    padding-bottom: 5%;
  }

  .gif-container {
    width: 100%;
  }

  .gif-icon {
    align-self: stretch;
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }

  .about-us1,
  .framewithinfo,
  .video {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .video {
    width: 75%;
    flex-direction: column;
    gap: var(--gap-21xl);
    font-size: var(--main-text-size);
    color: var(--black);
  }
  .about-us1,
  .framewithinfo {
    flex-direction: row;
    box-sizing: border-box;
  }
  .about-us1 {
    flex: 1;
    flex-wrap: wrap;
    padding: var(--padding-61xl) var(--padding-113xl);
    gap: var(--gap-91xl);
  }

  .framewithinfo {
    align-self: stretch;
    text-align: left;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
    font-family: var(--text);
  }

 .gif-icon {
    align-self: stretch;
    height: 500px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
 }

 .lg-sm-none {
  display: none;
 }
/* Styles for screens smaller than 768px (mobile) */
@media (max-width: 767px) {

  .framewithinfo {
    padding: 8% 5% !important;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
  }

    .text {
      width: 100%;
    }

    .h1 {
      font-size: 32px !important;
    }

    .video {
      overflow: hidden;
      width: 100%;
    }

    .welcome-to-our1,
    .at-our-premium {
      width: 100% !important;
      padding-bottom: 5%;
      padding-top: 5%;
    }

    .about-us1 {
      flex-direction: column;
      gap: var(--gap-21xl);
    }
  
    .text1 {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--gap-21xl);
    }


    .gif-container {
      width: 100%;
      height: 40vh;
      overflow: hidden;
    }
  
    .gif-icon {
      width: 100%;
      object-fit: cover;
    }
  
    .about-us1,
    .framewithinfo,
    .video {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .about-us1 {
      padding: var(--padding-61xl) var(--padding-113xl) var(--padding-61xl);
      gap: var(--gap-91xl);
    }
  
    .lg-sm-none {
      display: none;
     }
  }
  
  /* Styles for screens between 768px and 1023px (tablet) */
  @media (min-width: 768px) and (max-width: 1023px) {

    .framewithinfo {
      padding: 6% 5% !important;
    }

    .lg-sm-none {
      display: block;
     }

    .video {
      width: 100%;
      gap: 5%;
    }

    .about-us1 {
      padding: var(--padding-61xl) var(--padding-113xl) var(--padding-61xl);
    }
  
    .text {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
 
    }
    .h1 {
      font-size: 30px !important;
      width: 30%;
    }
    .welcome-to-our1,
    .at-our-premium {
      width: 30%;
    }

    .md-none {
      display: none;
    }
  
    .text1 {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--gap-21xl);
    }
  
    .gif-icon {
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  
    .about-us1,
    .framewithinfo,
    .video {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .about-us1 {
      padding: var(--padding-61xl) var(--padding-113xl) var(--padding-61xl);
      gap: var(--gap-91xl);
    }
  
    .framewithinfo {
      padding: 0;
      font-size: var(--heading-2-size);
      color: var(--dark-green);
    }
  }
  
 