.footer {
  padding: 104px 0 32px;
}

.company-footer {
  margin-bottom: 174px;
}
.footer-info,
.s-pioneer-road-container {
  color: #fff;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.footer-youtube {
  color: white;
}
.company-footer,
.copyright-info2,
.social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-footer,
.social-media {
  gap: var(--gap-base);
}
.company-footer {
  width: 1176px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}

.logo-icon1 {
  width: 50px;
  height: 50px;
  position: relative;
}
.footer-info {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
}
.s-pioneer-road-container {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
}
.s-pioneer-road,
.salt-lake-city,
.ut-84104 {
  margin: 0;
}
.contact-info {
  color: #fff;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-top: 104px;
}
.about-us2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.catalog2 {
  width: 115px;
  display: inline-block;
}
.catalog2,
.sale2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.copyright-info,
.copyright-info1,
.copyright-info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
}

.logo-and-info {
  margin-top: 104px;
}

.social-media {
  width: 40px;
  height: 40px;
  gap: 16px;
  margin-top: 112px;
}
.icons-40x40-facebook {
  height: 28px;
  width: 28px;
  position: relative;
}
.icons-40x40-instagram {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.icons-40x40-youtube {
  height: 28px;
  width: 28px;
  position: relative;
}

.privacy-policy-terms1 {
  width: 1176px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--main-text-size);
  color: rgba(198, 205, 209, 0.9);
}
.privacy-policy-terms {
  width: 1216px;
  height: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-2-size);
  color: var(--dark-green);
  font-family: var(--text);
}
.privacy-policy,
.terms-of-service,
.the-watch-spot1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 18px;
}
.footer-frame1,
.privacy-policy-terms1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-frame1 {
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: right;
  color: var(--color-lightgray-100);
}
//unchecked

.footer-frame {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  min-width: 282px;
  font-size: var(--main-text-size);
}
.logo-area {
  width: 1176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}

.contact-info-icon,
.contact-info-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 374px;
  min-height: 422px;
}

.copyright-text {
  width: 1021px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 774px;
  text-align: left;
  font-size: var(--heading-3-size);
  color: var(--black);
  font-family: var(--text);
}

.footer,
.the-watch-spot {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--dark-green);
  padding: 104px var(--padding-13xl) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-155xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-size);
  color: var(--white);
  font-family: var(--text);
}
.the-watch-spot {
  width: 100%;
  position: relative;
  background-color: #fbfbfb;
  letter-spacing: normal;
}

.the-watch-spot1 {
  color: #c6cdd1;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin-bottom: 32px;
}

.privacy-policy,
.terms-of-service {
  color: #c6cdd1;
  text-align: right;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin-bottom: 32px;
}
