:root {
    --dark-green: #1e2827;
    --black: #141414;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 428px) {
    .sale-con {
      margin: 0 auto;
      padding: 0;
      position: relative;
      width: 335px;
      height: 1037px;
    }
  
    .sale-header {
      font-family: "Epilogue", sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.25;
      letter-spacing: -0.02em;
      color: #141414;
    }
  
    .image {
      width: 80px;
      height: 80px;
      margin-bottom: 5.5px;
    }
  
    .sale-item {
      margin-top: 40px;
      flex-shrink: 0;
  
      width: 335px;
      display: flex;
      flex-wrap: wrap;
    }
     .sale-img {
      width: 80px;
      height: 350px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .sale-hero-image {
      flex-shrink: 0;
      margin-left: 20px;
      border-radius: 4px;
      border: 1px solid #141414;
      width: 235px;
      height: 350px;
      background-color: #141414;
    }
  
    .sale-text {
      position: relative;
    }
    .column-text {
      margin-top: 40px;
    }
  
    .sale-title {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      letter-spacing: -0.02em;
      color: #141414;
    }
    .sale-par {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28571;
      letter-spacing: -0.02em;
      color: rgba(20, 20, 20, 0.5);
    }
  
    .price {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      color: #141414;
    }
    .d-price {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16667;
      letter-spacing: -0.02em;
      text-decoration: line-through;
      color: rgba(20, 20, 20, 0.5);
    }
    .description {
      margin-top: 40px;
      border-top: 1px solid #141414;
      padding: 8px 0px;
      width: 335px;
      height: 40px;
      display: flex;
      gap: 216px;
    }
    .description-header {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #141414;
    }
    .description-text {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28571;
      letter-spacing: -0.01em;
      color: rgba(20, 20, 20, 0.5);
    }
    .details {
      margin-top: 40px;
      border-top: 1px solid #141414;
      padding: 8px 0px;
      width: 335px;
      height: 40px;
      display: flex;
      gap: 120px;
    }
    .details-header {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #141414;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1175px) {
    .sale-con {
      width: 768px;
      height: 1277px;
      padding: 0;
      position: relative;
      margin: 0 auto;
    }
    .sale-header {
      top: 0;
      left: 0;
      font-family: "Epilogue", sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      color: #1e2827;
      position: absolute;
    }
    .image {
      width: 146px;
      height: 146px;
      margin-bottom: 5px;
    }
    .sale-item {
      width: 572px;
      height: 614px;
      flex-shrink: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto;
    }
   
  
    .sale-img {
      width: 146px;
      height: 614px;
      display: flex;
      margin-top: 80px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .sale-hero-image {
      flex-shrink: 0;
      margin-top: 80px;
      margin-left: 20px;
      border-radius: 4px;
      border: 1px solid #141414;
      width: 406px;
      height: 614px;
      background-color: #141414;
    }
  
    .sale-text {
      position: relative;
    }
    .column-text {
      margin-top: 40px;
    }
  
    .sale-title {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 38px;
  
      line-height: 1.05263;
      letter-spacing: -0.02em;
      color: #141414;
    }
    .sale-par {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28571;
      letter-spacing: -0.02em;
      line-height: 1.28571;
      letter-spacing: -0.02em;
      color: rgba(20, 20, 20, 0.5);
    }
  
    .price {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      color: #141414;
    }
    .d-price {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16667;
      letter-spacing: -0.02em;
      text-decoration: line-through;
      color: rgba(20, 20, 20, 0.5);
    }
    .description {
      margin-top: 40px;
      border-top: 1px solid #141414;
      padding: 8px 0px;
  width: 572px;
  height: 40px;
  display: flex;
      gap: 454px;
    }
    .description-header {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #141414;
    }
    .description-text {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28571;
      letter-spacing: -0.01em;
      color: rgba(20, 20, 20, 0.5);
    }
    .details {
      margin-top: 40px;
      border-top: 1px solid #141414;
      padding: 8px 0px;
      width: 572px;
      height: 40px;
      display: flex;
      gap: 355px;
    }
    .details-header {
      font-family: "Epilogue", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.33333;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #141414;
    }
  }
  
  @media screen and (min-width: 1176px) {
    .sale-con {
      width: 1176px;
      height: 738px;
      padding: 0;
      position: relative;
      margin: 0 auto;
    }
    .sale-header {
      position: absolute;
      color: var(--dark-green, #1e2827);
      font-family: "Epilouge", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px; /* 110% */
      letter-spacing: -0.8px;
    }
    .image {
      width: 146px;
      height: 146px;
      margin-bottom: 7px;
    }
    .sale-item {
      margin: 0 auto;
      padding-top: 124px;
      flex-shrink: 0;
      display: flex;
      /* width: 981px; */
      margin-left: 132px;
    }
    .sale-img {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .sale-hero-image {
      width: 406px;
      height: 614px;
      flex-shrink: 0;
      padding-left: 20px;
      border-radius: 4px;
    }
    .sale-text {
      padding-left: 40px;
      position: relative;
    }
    .sale-title {
      font-family: "Epilogue", sans-serif;
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 105.263% */
      letter-spacing: -0.76px;
    }
    .column-text {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
    }
    .sale-par {
      color: rgba(20, 20, 20, 0.5);
  
      font-family: "Epilogue", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.28px;
    }
    .price {
      color: var(--black, #141414);
      font-family: Epilogue;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
    }
    .d-price {
      color: rgba(20, 20, 20, 0.5);
      font-family: "Epilogue", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px; /* 116.667% */
      letter-spacing: -0.24px;
      text-decoration: line-through;
    }
    .description {
      margin-top: 40px;
      border-top: 1px solid var(--black, #141414);
      display: flex;
      padding: 8px 0px;
      align-items: center;
      gap: 270px;
    }
    .description-header {
      font-family: "Epilogue";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
      text-transform: uppercase;
    }
    .description-text {
      width: 369px;
      height: 126px;
      color: rgba(20, 20, 20, 0.5);
  
      font-family: "Epilogue", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.14px;
    }
    .details {
      display: flex;
      padding: 8px 0px;
      align-items: center;
      gap: 200px;
      border-top: 1px solid var(--black, #141414);
      margin-top: 40px;
    }
    .details-header {
      color: var(--black, #141414);
      font-family: "Epilogue", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.36px;
      text-transform: uppercase;
    }
  }
  
  .list {
    list-style: none;
  }
  