.rounded-rectangle {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .logo-icon,
  .thewatchspot {
    position: relative;
    z-index: 1;
  }
  .logo-icon {
    height: 19px;
    width: 19px;
  }
  .thewatchspot {
    letter-spacing: -0.03em;
    white-space: nowrap;
  }
  .separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .about-us {
    flex: 1;
    position: relative;
    line-height: 12px;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1;
  }
  .catalog {
    flex: 1;
  }
  .catalog,
  .sale {
    position: relative;
    line-height: 12px;
    text-transform: uppercase;
    z-index: 1;
  }
  .product-container {
    width: 178px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-4xs);
  }
  .image-holder {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 0 15px;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-63xl);
    max-width: 100%;
  }
  .rounded-rectangle1 {
    height: 48px;
    width: 91px;
    position: relative;
  }
  .subtitle-text {
    width: 560px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    max-width: 100%;
    text-align: left;
    font-size: 15px;
    color: var(--white);
    font-family: var(--text);
  }
  .welcome-to-our {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.04em;
    line-height: 62px;
    font-weight: 600;
    font-family: inherit;
  }
  .title-text {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-61xl);
    min-width: 750px;
    max-width: 100%;
  }
  .info-text-child {
    height: 48px;
    width: 159px;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--dark-green);
    display: none;
  }
  .description {
    position: relative;
    font-size: var(--font-size-4xs);
    line-height: 12px;
    text-transform: uppercase;
    font-family: var(--text);
    color: var(--white);
    text-align: center;
    z-index: 1;
  }
  .info-text {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) var(--padding-16xl) var(--padding-lg) 36px;
    background-color: var(--dark-green);
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .btn:hover,
  .info-text:hover {
    background-color: var(--color-dimgray);
  }
  .our-watches-are {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
    font-weight: 300;
  }
  .footer-frame {
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-61xl);
    min-width: 282px;
    font-size: var(--main-text-size);
  }
  .logo-area {
    width: 1176px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .image-child,
  .img-9463-1-icon {
    position: relative;
    max-width: 100%;
  }
  .image-child {
    height: 255px;
    width: 436px;
    background-color: var(--dark-green);
    display: none;
  }
  .img-9463-1-icon {
    width: 348px;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .image {
    align-self: stretch;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rounded-rectangle2 {
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: none;
  }
  .chevron-left-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    z-index: 1;
  }
  .rounded-rectangle3,
  .twoframes {
    height: 42px;
    width: 42px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
  }
  .rounded-rectangle3 {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid var(--white);
    width: 100%;
    height: 100%;
    display: none;
  }
  .chevron-left-icon1 {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: contain;
    z-index: 1;
  }
  .twoframes1 {
    height: 42px;
    width: 42px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--white);
    box-sizing: border-box;
  }
  .framewithchevrons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  .div {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .vectorline-child {
    height: 1px;
    width: 40px;
    position: relative;
  }
  .div1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .emptyframe,
  .vectorline {
    display: flex;
    flex-direction: row;
  }
  .vectorline {
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
  }
  .emptyframe {
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .pioneer-road-text {
    width: 436px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    min-width: 436px;
    max-width: 100%;
  }
  .rectanglebackground-icon {
    height: 394px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 439px;
  }
  .blocks,
  .price-tag {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .price-tag {
    width: 1176px;
    flex-direction: row;
    align-items: flex-end;
    gap: var(--gap-45xl);
    font-size: var(--main-text-size);
  }
  .blocks {
    align-self: stretch;
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    padding: var(--padding-xl) var(--padding-xl) var(--padding-61xl);
    box-sizing: border-box;
    gap: var(--gap-24xl);
    text-align: left;
    font-size: var(--heading-1-size);
    color: var(--white);
    font-family: var(--text);
  }
  .h1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 600;
    font-family: inherit;
  }
  .text {
    width: 174px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .at-our-premium,
  .welcome-to-our1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
  }
  .welcome-to-our1 {
    flex: 1;
    min-width: 285px;
  }
  .at-our-premium {
    width: 380px;
    flex-shrink: 0;
  }
  .text1 {
    width: 859px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .gif-icon {
    align-self: stretch;
    height: 500px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .about-us1,
  .framewithinfo,
  .video {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .video {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-21xl);
    min-width: 580px;
    font-size: var(--main-text-size);
    color: var(--black);
  }
  .about-us1,
  .framewithinfo {
    flex-direction: row;
    box-sizing: border-box;
  }
  .about-us1 {
    flex: 1;
    flex-wrap: wrap;
    padding: var(--padding-61xl) var(--padding-113xl);
    gap: var(--gap-91xl);
  }
  .framewithinfo {
    align-self: stretch;
    padding: 0 0 var(--padding-61xl);
    text-align: left;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
    font-family: var(--text);
  }
  .catalog1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 600;
    font-family: inherit;
  }
  .richlydetaileddesignframe {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .img-9466-1-icon {
    position: absolute;
    top: 26px;
    left: 0;
    width: 276px;
    height: 274px;
    object-fit: cover;
  }
  .image1 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div2,
  .tube-watch-s42 {
    position: relative;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .tube-watch-s42 {
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .div2 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
  }
  .collection-frame,
  .spacer-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame {
    width: 276px;
    gap: var(--gap-sm);
  }
  .img-9466-1-icon1 {
    position: absolute;
    top: 26px;
    left: 0;
    width: 276px;
    height: 274px;
    object-fit: cover;
  }
  .image2 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .avondale-watch-police,
  .div3 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div3 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .avondale-watch-police-for-men-parent,
  .collection-frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame1 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .img-9466-1-icon2 {
    position: absolute;
    top: 26px;
    left: 0;
    width: 276px;
    height: 274px;
    object-fit: cover;
  }
  .image3 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div4,
  .diver-300m-coaxial {
    position: relative;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .diver-300m-coaxial {
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .div4 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
  }
  .collection-frame2,
  .diver-300m-coaxial-master-chr-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame2 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .img-9466-1-icon3 {
    position: absolute;
    top: 26px;
    left: 0;
    width: 276px;
    height: 274px;
    object-fit: cover;
  }
  .image4 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div5,
  .diver-300m-co-axial {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div5 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .collection-frame3,
  .diver-300m-co-axial-master-chr-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame3 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-item,
  .img-9466-1-icon4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon4 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image5 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div6,
  .taman-watch-by {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div6 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .collection-frame4,
  .taman-watch-by-police-for-men-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame4 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-inner,
  .img-9466-1-icon5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon5 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image6 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div7,
  .malawi-watch-police {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div7 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .collection-frame5,
  .malawi-watch-police-for-men-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame5 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .img-9466-1-icon6,
  .rectangle-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon6 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image7 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div8,
  .diver-300m-co-axial1 {
    position: relative;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .diver-300m-co-axial1 {
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .div8 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
  }
  .collection-frame6,
  .diver-300m-co-axial-master-chr-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame6 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-child1,
  .img-9466-1-icon7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon7 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image8 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div9,
  .greenlane-watch-by {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div9 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .collection-frame7,
  .greenlane-watch-by-police-for-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame7 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-child2,
  .img-9466-1-icon8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon8 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .heart {
    position: absolute;
    top: 14px;
    left: 238px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
    z-index: 2;
  }
  .image9 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div10,
  .squardrc-5402-chrono {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div10 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .collection-frame8,
  .squardrc-5402-chrono-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame8 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-child3,
  .img-9466-1-icon9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon9 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image10 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .div11,
  .diver-300m-coaxial1 {
    position: relative;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }
  .diver-300m-coaxial1 {
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .div11 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
  }
  .collection-frame9,
  .diver-300m-coaxial-master-chr-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame9 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-child4,
  .img-9466-1-icon10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon10 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image11 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .citizen,
  .div12 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div12 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .citizen-parent,
  .collection-frame10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .collection-frame10 {
    width: 276px;
    gap: var(--gap-sm);
  }
  .image-child5,
  .img-9466-1-icon11 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .img-9466-1-icon11 {
    top: 26px;
    width: 276px;
    height: 274px;
    object-fit: cover;
    z-index: 1;
  }
  .image12 {
    align-self: stretch;
    height: 325px;
    position: relative;
  }
  .armani-exchange,
  .div13 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div13 {
    font-size: var(--text-1-size);
    line-height: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
  }
  .armani-exchange-parent {
    flex-direction: column;
    gap: var(--gap-9xs);
  }
  .armani-exchange-parent,
  .collection-frame11,
  .maincontentframe {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .collection-frame11 {
    width: 276px;
    flex-direction: column;
    gap: var(--gap-sm);
  }
  .maincontentframe {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    min-height: 1269px;
    font-size: var(--main-text-size);
    color: var(--black);
  }
  .buy-now {
    flex: 1;
    position: relative;
    font-size: var(--text-1-size);
    line-height: 14px;
    text-transform: uppercase;
    font-family: var(--text);
    color: var(--white);
    text-align: center;
  }
  .btn {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lg) 31px var(--padding-lg) var(--padding-16xl);
    background-color: var(--dark-green);
    width: 122px;
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .informationdescriptionframe {
    width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-45xl);
    min-height: 1571px;
    max-width: 100%;
    text-align: left;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
    font-family: var(--text);
  }
  .new-watches {
    position: relative;
    letter-spacing: 0.06em;
    line-height: 14px;
    font-weight: 300;
  }
  .green-and-bronzethe {
    margin: 0;
    height: 88px;
    flex: 1;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .text2 {
    width: 448px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .contact-info-icon,
  .contact-info-icon1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    min-width: 374px;
    min-height: 422px;
  }
  .images {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
  }
  .blocks1,
  .blocks2,
  .images,
  .new-watches-block {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .blocks2 {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-61xl);
    font-size: var(--heading-2-size);
    color: var(--dark-green);
  }
  .blocks1,
  .new-watches-block {
    box-sizing: border-box;
  }
  .blocks1 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-61xl) var(--padding-113xl);
    gap: var(--gap-5xs);
  }
  .new-watches-block {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1px 0 0;
    min-height: 852px;
    text-align: left;
    font-size: var(--text-1-size);
    color: rgba(20, 20, 20, 0.4);
    font-family: var(--text);
  }
  .sale1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 600;
    font-family: inherit;
  }
  .privacy-policy-terms {
    width: 1216px;
    height: 124px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--heading-2-size);
    color: var(--dark-green);
    font-family: var(--text);
  }
  .image-64-icon,
  .image-65-icon,
  .image-66-icon,
  .image-67-icon {
    width: 146px;
    height: 146px;
    position: relative;
    object-fit: cover;
  }
  .watch-frames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    min-width: 146px;
  }
  .img-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    min-width: 264px;
    min-height: 614px;
  }
  .background-canvas {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .greenlane-watch-by1,
  .police-for-menht {
    margin: 0;
  }
  .greenlane-watch-by-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-weight: 400;
    font-family: inherit;
  }
  .div14,
  .div15,
  .product-tag-pewjk2227003 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .div14,
  .div15 {
    line-height: 24px;
    white-space: nowrap;
  }
  .div15 {
    font-size: var(--text-1-size);
    text-decoration: line-through;
    line-height: 14px;
    color: var(--color-gray-200);
  }
  .classy-s,
  .price,
  .text3 {
    display: flex;
    justify-content: center;
  }
  .text3 {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
    font-size: var(--text-size);
    color: var(--black);
  }
  .classy-s,
  .price {
    flex-direction: column;
    align-items: flex-start;
  }
  .price {
    gap: var(--gap-base);
    font-size: var(--main-text-size);
    color: var(--color-gray-200);
  }
  .classy-s {
    align-self: stretch;
    gap: var(--gap-5xs);
  }
  .description1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
    text-transform: uppercase;
  }
  .minus-icon {
    height: 1px;
    width: 16px;
    position: relative;
  }
  .information {
    align-self: stretch;
    border-top: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs) 0;
    gap: var(--gap-xl);
  }
  .richly-detailed-with {
    align-self: stretch;
    position: relative;
    font-size: var(--main-text-size);
    letter-spacing: -0.01em;
    line-height: 18px;
    color: var(--color-gray-200);
  }
  .information-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .details-featurestion {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
    text-transform: uppercase;
  }
  .minus-icon1 {
    height: 1px;
    width: 16px;
    position: relative;
  }
  .information1 {
    align-self: stretch;
    border-top: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs) 0;
    gap: var(--gap-xl);
  }
  .band-colour-steel,
  .band-material-metal,
  .case-colour-steel,
  .case-material-metal,
  .features-multifunction,
  .gender-man,
  .size-46x545mm,
  .water-resistant-5 {
    margin: 0;
  }
  .gender-man-size-container {
    align-self: stretch;
    position: relative;
    font-size: var(--main-text-size);
    letter-spacing: -0.01em;
    line-height: 18px;
    color: var(--color-gray-200);
  }
  .information-group {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-4xs);
  }
  .classy-s-parent,
  .copyright-text,
  .design-richly,
  .information-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .design-richly {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-xl);
    font-size: var(--text-size);
  }
  .classy-s-parent,
  .copyright-text {
    gap: var(--gap-21xl);
    max-width: 100%;
  }
  .classy-s-parent {
    width: 369px;
    flex-direction: column;
    min-width: 369px;
  }
  .copyright-text {
    width: 1021px;
    flex-direction: row;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    min-height: 774px;
    text-align: left;
    font-size: var(--heading-3-size);
    color: var(--black);
    font-family: var(--text);
  }
  .logo-icon1 {
    width: 50px;
    height: 50px;
    position: relative;
  }
  .footer-info {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
  }
  .s-pioneer-road,
  .salt-lake-city,
  .ut-84104 {
    margin: 0;
  }
  .s-pioneer-road-container {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
  }
  .logo-and-info,
  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .logo-and-info {
    gap: var(--gap-21xl);
  }
  .about-us2 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
    text-transform: uppercase;
  }
  .catalog2 {
    width: 115px;
    display: inline-block;
  }
  .catalog2,
  .sale2 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 24px;
    text-transform: uppercase;
  }
  .contact-info {
    width: 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }
  .icons-40x40-facebook {
    height: 28px;
    width: 28px;
    position: relative;
  }
  .copyright-info {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
      var(--padding-6xs);
  }
  .icons-40x40-instagram {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .copyright-info1 {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
      var(--padding-6xs);
  }
  .icons-40x40-youtube {
    height: 28px;
    width: 28px;
    position: relative;
  }
  .company-footer,
  .copyright-info2,
  .social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .copyright-info2 {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-gray-300);
    padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
      var(--padding-6xs);
  }
  .company-footer,
  .social-media {
    gap: var(--gap-base);
  }
  .company-footer {
    width: 1176px;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .privacy-policy,
  .terms-of-service,
  .the-watch-spot1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 18px;
  }
  .footer-frame1,
  .privacy-policy-terms1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-frame1 {
    justify-content: flex-start;
    gap: var(--gap-lg);
    text-align: right;
    color: var(--color-lightgray-100);
  }
  .privacy-policy-terms1 {
    width: 1176px;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    font-size: var(--main-text-size);
    color: rgba(198, 205, 209, 0.9);
  }
  .footer,
  .the-watch-spot {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    background-color: var(--dark-green);
    padding: 104px var(--padding-13xl) var(--padding-13xl);
    box-sizing: border-box;
    gap: var(--gap-155xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--text-size);
    color: var(--white);
    font-family: var(--text);
  }
  .the-watch-spot {
    width: 100%;
    position: relative;
    background-color: #fbfbfb;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .footer-frame,
    .title-text {
      flex: 1;
    }
    .logo-area {
      flex-wrap: wrap;
    }
    .price-tag {
      gap: var(--gap-45xl);
    }
    .blocks2 {
      gap: var(--gap-61xl);
    }
    .footer {
      gap: var(--gap-155xl);
    }
  }
  @media screen and (max-width: 1050px) {
    .welcome-to-our {
      font-size: 48px;
      line-height: 50px;
    }
    .title-text {
      min-width: 100%;
    }
    .pioneer-road-text {
      flex: 1;
    }
    .price-tag {
      flex-wrap: wrap;
    }
    .blocks {
      padding-bottom: var(--padding-33xl);
      box-sizing: border-box;
    }
    .h1 {
      font-size: var(--font-size-13xl);
      line-height: 35px;
    }
    .text1 {
      flex-wrap: wrap;
    }
    .video {
      min-width: 100%;
    }
    .about-us1 {
      padding-top: var(--padding-33xl);
    }
    .about-us1,
    .framewithinfo {
      padding-bottom: var(--padding-33xl);
      box-sizing: border-box;
    }
    .catalog1,
    .green-and-bronzethe {
      font-size: var(--font-size-13xl);
      line-height: 35px;
    }
    .blocks1 {
      padding-top: var(--padding-33xl);
      padding-bottom: var(--padding-33xl);
      box-sizing: border-box;
    }
    .sale1 {
      font-size: var(--font-size-13xl);
      line-height: 35px;
    }
    .greenlane-watch-by-container {
      font-size: 30px;
      line-height: 32px;
    }
    .classy-s-parent {
      flex: 1;
    }
    .copyright-text {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .product-container {
      display: none;
    }
    .title-text {
      gap: var(--gap-61xl);
    }
    .pioneer-road-text,
    .rectanglebackground-icon {
      min-width: 100%;
    }
    .price-tag {
      gap: var(--gap-45xl);
    }
    .blocks {
      gap: var(--gap-24xl);
    }
    .about-us1 {
      gap: var(--gap-91xl);
      padding-left: var(--padding-47xl);
      padding-right: var(--padding-47xl);
      box-sizing: border-box;
    }
    .informationdescriptionframe {
      gap: var(--gap-45xl);
    }
    .contact-info-icon,
    .contact-info-icon1 {
      min-width: 100%;
    }
    .blocks2 {
      gap: var(--gap-61xl);
    }
    .blocks1 {
      padding-left: var(--padding-47xl);
      padding-right: var(--padding-47xl);
      box-sizing: border-box;
    }
    .watch-frames {
      flex: 1;
    }
    .background-canvas {
      flex-wrap: wrap;
    }
    .copyright-text {
      gap: var(--gap-21xl);
    }
    .company-footer,
    .privacy-policy-terms1 {
      flex-wrap: wrap;
    }
    .footer {
      gap: var(--gap-155xl);
      padding-top: 68px;
      padding-bottom: 21px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .image-holder {
      gap: var(--gap-63xl);
    }
    .welcome-to-our {
      font-size: 36px;
      line-height: 37px;
    }
    .footer-frame,
    .title-text {
      gap: var(--gap-61xl);
    }
    .emptyframe {
      flex-wrap: wrap;
      justify-content: center;
    }
    .blocks {
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .h1 {
      font-size: var(--font-size-5xl);
      line-height: 26px;
    }
    .text1,
    .video {
      gap: var(--gap-21xl);
    }
    .about-us1 {
      gap: var(--gap-91xl);
      padding: var(--padding-15xl) var(--padding-xl);
      box-sizing: border-box;
    }
    .framewithinfo {
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .catalog1 {
      font-size: var(--font-size-5xl);
      line-height: 26px;
    }
    .informationdescriptionframe {
      gap: var(--gap-45xl);
    }
    .green-and-bronzethe {
      font-size: var(--font-size-5xl);
      line-height: 26px;
    }
    .text2 {
      gap: 346px;
    }
    .blocks1 {
      padding: var(--padding-15xl) var(--padding-xl);
      box-sizing: border-box;
    }
    .sale1 {
      font-size: var(--font-size-5xl);
      line-height: 26px;
    }
    .background-canvas {
      min-width: 100%;
    }
    .greenlane-watch-by-container {
      font-size: 23px;
      line-height: 24px;
    }
    .classy-s-parent {
      gap: var(--gap-21xl);
      min-width: 100%;
    }
    .footer {
      gap: var(--gap-155xl);
    }
  }
  