

@import './catalog.scss';
@import './sale';

body {
  font-family: 'Epilogue', sans-serif;
}

header {
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 10vh !important;
  background: #141414;
}

#logoImg {
  margin-right: 4px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.03%;
  text-align: left;
}
.nav-icon {
  fill: white;
  margin-right: 5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-link {
  margin-right: 5vh;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.address-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  padding: 1% 0.5%;
  background: #1e2827;
  width: 159px;
  height: 48px;
  border-radius: 8px;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger-button {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  background: none;
  border: none;
  padding: 0;
}

header {
  background-color: #141414;
  width: 100% !important;
}

.list {
  list-style-type: none;
}

.nav-list {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vh !important;
  }
}

@media only screen and (max-width: 767px) {
  .nav-container {
    display: block !important;
    padding: 0 !important;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10% 5% 5% !important;
  }

  .nav-header > .nav-logo {
    margin-right: 0 !important;
  }

  .hamburger-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%; /* Change from right to left */
    background-color: #1e2827;
    transition: 0.5s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 5% 5% !important;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    padding-top: 35%;
  }

  .nav-list li {
    padding: 15px;
    text-align: center;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .none {
    display: none;
  }

  .x-button {
    cursor: pointer;
  }
}
