
<section class="framewithinfo">
      <div class="about-us1">
        <div class="text">
          <h1 class="h1 md-none">About us</h1>
        </div>
        <div class="video">
          <div class="text1">
            <h1 class="h1 lg-sm-none">About us</h1>
            <div class="welcome-to-our1">
              Welcome to our premium watch collection, where luxury and style
              meet functionality and precision. Our selection of timepieces
              embodies the very best in Swiss craftsmanship and engineering,
              ensuring that you'll always have a reliable and stylish
              accessory on your wrist.
            </div>
            <div class="at-our-premium">
              At our premium watch collection, we believe that a watch is more
              than just a timekeeping device – it's a statement piece that
              reflects your personality and style. So why settle for anything
              less than the best? Browse our collection today and discover the
              perfect watch for you.
            </div>
          </div>
          <div class="gif-container">
              <img
              class="gif-icon"
              loading="eager"
              alt=""
              src="images/watchspot.gif"
             />
          </div>

        </div>
      </div>
</section>

