<section class="about-section">
    <div class="About">
    <H2 class="about-us about">About us</H2>
    <p class="about-phrase about">Welcome to our premium watch collection, where luxury and style <br>
            functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, <br>
            ensuring that you'll always have a reliable and stylish accessory on <br>
            your wrist.
    </p>
    <p class="about-phrase about">At our premium watch collection, we believe that a watch <br>
           is more than just a timekeeping device - it's a statement <br>
           piece that reflects your personality and style. So why <br>
           settle for anything less than the best? Browse our <br>
           collection today and discover the perfect watch for you.</p>
     <img src="../images/watchspot.gif" alt="watch" width="892" height="500">
    </div>
</section>