@import '../sass/_catalog'



<div class="catalog-container">
  <h2 class="catalog-header">Catalog</h2>
  <ul class="watch-list">
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-1.jpg" alt="watch-1" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="watch-price">€395</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-2.jpg" alt="watch-2" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="watch-description">
        <h3 class="watch-name">Avondale Watch Police For Men</h3>
        <p class="watch-price">€800</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-3.jpg" alt="watch-3" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="watch-price">€600</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-4.jpg" alt="watch-4" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="watch-price">€1400</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-5.jpg" alt="watch-5" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Taman Watch By Police For Men</h3>
        <p class="watch-price">€500</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-6.jpg" alt="watch-6" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Malawi Watch Police For Men</h3>
        <p class="watch-price">€555</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-7.jpg" alt="watch-7" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="watch-price">€1200</p>
      </div>
    </li>
    <li class="watch-item">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-8.jpg" alt="watch-8" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Greenlane Watch By Police For Men</h3>
        <p class="watch-price">€1000</p>
      </div>
    </li>
    <li class="watch-item mobile-hidden">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-9.jpg" alt="watch-9" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Squardrc 5402 Chrono</h3>
        <p class="watch-price">€359</p>
      </div>
    </li>
    <li class="watch-item mobile-hidden">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-10.jpg" alt="watch-10" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="watch-price">€400</p>
      </div>
    </li>
    <li class="watch-item mobile-hidden">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-11.jpg" alt="watch-11" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Citizen</h3>
        <p class="watch-price">€519</p>
      </div>
    </li>
    <li class="watch-item mobile-hidden">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <img src="images/watch-12.jpg" alt="watch-12" class="watch-img" />
          </div>
          <div class="back">
            <div class="back-card">
              <h3 class="back-card-description">Description</h3>
              <p class="back-card-text">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
            </div>
            <div class="back-card-item">
              <h3 class="back-card-title">DETAILS & FEATUREStion</h3>
              <ul class="back-card-list">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Case Colour: Steel</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="watch-description">
        <h3 class="watch-name">Armani Exchange</h3>
        <p class="watch-price">€400</p>
      </div>
    </li>
  </ul>

  <div class="btn-container">
    <button type="button" class="catalog-btn" data-modal-open>Buy now</button>
  </div>
</div>

<div class="modal-container">
  <div class="modal-buy-now is-hidden" data-modal>
    <div class="modal-pop-up">
      <button type="button" class="close-button" data-modal-close>
        <svg
          class="form-close-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        >
          <use href="images/form-close-btn.svg#form-close-btn"></use>
        </svg>
      </button>
      <ul class="form-align">
        <li class="modal-first">
          <div>
            <img
              src="images/watch-1.jpg"
              alt="watch-1"
              class="watch-img modal-img"
            />
            <div class="watch-description">
              <h3 class="watch-name">
                Tube Watch S42 Date Steel With Black Case
              </h3>
              <p class="watch-price">€395</p>
            </div>
          </div>
        </li>
        <li class="modal-second">
          <div class="form-container">
            <form class="buy-now-form">
              <div>
                <label for="user-fullname" class="label-form">Full Name</label>
                <div class="label-buttom-margin">
                  <input
                    id="user-fullname"
                    name="user-fullname"
                    type="text"
                    class="form-input"
                    placeholder="Enter your full name"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="user-email" class="label-form">Email</label>
                <div>
                  <input
                    id="user-email"
                    name="user-email"
                    type="email"
                    class="form-input"
                    placeholder="Enter your email"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="user-email" class="label-form">Card number</label>
                <div>
                  <input
                    id="user-email"
                    name="user-email"
                    type="email"
                    class="form-input"
                    placeholder="Enter card"
                    required
                  />
                </div>
              </div>

              <div>
                <label for="user-comment" class="modal-form-label"
                  >Comments</label
                >
                <div>
                  <textarea
                    id="user-comment"
                    name="user-comment"
                    placeholder="Enter your text"
                    class="form-textarea form-input"
                    required
                  ></textarea>
                </div>
              </div>
              <button class="send-form-button">Submit</button>
            </form>
            <p class="form-text-policy">
              By clicking on “Submit” button, you agree to our
              <a class="modal-link-policy" href="#">Privacy Policy</a>, and
              allow Promodo to use this information for marketing purposes.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="modal.js"></script>
