<footer class="footer">
        <div class="company-footer">
          <div class="logo-and-info">
            <img
              class="logo-icon1"
              loading="eager"
              alt=""
              src=""
            />

            <div class="logo-section">
              <div class="footer-info">+380 (68) 443-94-26</div>
              <div class="s-pioneer-road-container">
                <p class="s-pioneer-road">1678 S. Pioneer Road</p>
                <p class="salt-lake-city">Salt Lake City</p>
                <p class="ut-84104">UT 84104</p>
              </div>
            </div>
          </div>
          <div class="contact-info">
            <div class="about-us2">About Us</div>
            <div class="catalog2">Catalog</div>
            <div class="sale2">Sale</div>
          </div>
          <div class="social-media">
            <div class="copyright-info">
              <a>
                <svg class="icons-40x40-facebook">
                  <use href="/src/images/icons.svg#facebook">              
                  </use>
                </svg>
              </a> 
            </div>
            <div class="copyright-info1">
              <a>
                <svg class="icons-40x40-instagram">
                  <use href="/src/images/icons.svg#instagram">
                  </use>
                </svg>
              </a> 
            </div>
            <div class="copyright-info2">
              <a>
                <svg class="icons-40x40-youtube">
                  <use href="/src/images/icons.svg#facebook" width>              
                  </use>
                </svg>
              </a> 
            </div>
          </div>
        </div>
        <div class="privacy-policy-terms1">
          <div class="the-watch-spot1">
            ©2022 The Watch Spot. All rights reserved.
          </div>
          <div class="footer-frame1">
            <div class="privacy-policy">Privacy Policy</div>
            <div class="terms-of-service">Terms of Service</div>
          </div>
        </div>
      </footer>
    
