<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="sale">
      <div class="sale-con">
        <h2 class="sale-header">Sale</h2>
        <div class="sale-item">
          <div class="sale-img">
            <ul class="gallery list">
              <li class="gallery-item">
                <img src="./images/image 67.jpg" class="image" />
              </li>
              <li class="gallery-item">
                <img src="./images/image 64.jpg" class="image" />
              </li>
              <li class="gallery-item">
                <img src="./images/image 65.jpg" class="image" />
              </li>
              <li class="gallery-item">
                <img src="./images/image 66.jpg" class="image" />
              </li>
            </ul>
          </div>

          <img src="./images/image 67 (1).jpg" class="sale-hero-image" />

          <div class="sale-text">
            <div class="column-text">
              <h2 class="sale-title">Greenlane Watch By Police For MenHT</h2>
              <p class="sale-par">Product tag: PEWJK2227003</p>
              <p class="price">€700 <span class="d-price">€1000</span></p>
            </div>
            <div class="description">
              <h3 class="description-header">Description</h3>
              <svg width="16" height="8">
                <use href="./images/icons.svg#dash"></use>
              </svg>
            </div>
            <p class="description-text">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
            <div class="details">
              <h2 class="details-header">DETAILS & FEATUREStion</h2>
              <svg width="16" height="8">
                <use href="./images/icons.svg#dash"></use>
              </svg>
            </div>
            <div>
             <ul class="description-text list">
                  <li>Gender: man Size: 46x54.5mm</li>
                  <li>Case Colour: Steel Band Material:</li>
                  <li>Metal Case Material: Metal Features:</li>
                  <li>Multifunction Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
